@media screen and (max-width: 350px)
{
	button
	{
		margin-top: 0px!important;
	}
}

@media screen and (max-width: 550px)
{
	.logo
	{
		height: 65%;
		width: 65%;
		margin-left: 0px;
		margin-top: 0px;
	}
	.img-fluid
	{
		width:100%;
		height:40vh;
	}
}

@media screen and (min-width: 551px) and (max-width: 775px)
{
	.logo
	{
		height: 40%;
		width: 40%;
		margin-left: 0px;
		margin-top: 0px;
	}
	.img-fluid
	{
		width:100%;
		height:60vh;
	}
}

@media screen and (min-width: 776px) and (max-width: 991px)
{
	.logo
	{
		height: 30%;
		width: 30%;
		margin-left: 0px;
		margin-top: 0px;
	}
	.img-fluid
	{
		width:100%;
		height:60vh;
	}
}

@media screen and (min-width: 992px) and (max-width: 999px)
{
	.logo
	{
		height: 60%;
		width: 60%;
		margin-left: 0px;
		margin-top: 0px;
	}
	.img-fluid
	{
		width:100%;
		height:60vh;
	}
}

@media screen and (min-width: 1000px) and (max-width: 1125px)
{
	.logo
	{
		height: 50%;
		width: 50%;
		margin-left: 0px;
		margin-top: 0px;
	}
	.img-fluid
	{
		width:100%;
		height:75vh;
	}
}

@media screen and (min-width: 1126px)
{
	.logo
	{
		height: 40%;
		width: 40%;
		margin-left: 0px;
		margin-top: 0px;
	}
	.img-fluid
	{
		width:100%;
		height:75vh;
	}
}

/*SERVIÇOS E TREINAMENTOS*/

