@media screen and (max-width: 350px)
{
	button
	{
		margin-top: 0px!important;
	}
}

@media screen and (max-width: 550px)
{
	.logo
	{
		width: 70%;
		margin-left: 0px;
		margin-top: 0px;
	}
	.img-fluid
	{
		width:100%;
		height:40vh;
	}
}

@media screen and (min-width: 551px) and (max-width: 775px)
{
	.logo
	{
		width: 45%;
		margin-left: 0px;
		margin-top: 0px;
	}
	.img-fluid
	{
		width:100%;
		height:60vh;
	}
}

@media screen and (min-width: 776px) and (max-width: 991px)
{
	.logo
	{
		width: 35%;
		margin-left: 0px;
		margin-top: 0px;
	}
	.img-fluid
	{
		width:100%;
		height:60vh;
	}
}

@media screen and (min-width: 992px) and (max-width: 1125px)
{
	.logo
	{
		width: 55%;
		margin-left: 0px;
		margin-top: 0px;
	}
	.img-fluid
	{
		width:100%;
		height:75vh;
	}
}

@media screen and (min-width: 1126px) and (max-width: 3000px)
{
	.logo
	{
		width: 45%;
		margin-left: 0px;
		margin-top: 0px;
	}
	.img-fluid
	{
		width:100%;
		height:75vh;
	}
}