/***************************************    BODY     *********************************************************************/

body{
    margin: 0;
    background-color: #fff;
}

#corpo{
    /*width: 70%;*/
    margin: 0 auto;
}

section{
    width: 70%;
    /*margin: 10px auto 15px;*/
    margin: auto;
    /*font-family: 'Hind';*/
    text-align: left;
    /*font-size: 130%;*/

}
h1{
    /*font-family: "Hind";*/
    display: inline-block;       /*     alterar inline por causa do Treinamentos*/
    text-transform: uppercase;
    background-color: #ffd133;
    font-size: 30px;
    /*background-color: rgb(178, 45, 48);*/
    letter-spacing: 1px;
    color: #f5f5f5;
    padding: 10px 10px 10px 10px;
    margin: 25px 0 20px 0;
}
p{
    text-align: justify;
}

/*a.h3{
    text-decoration: none;
}
*/
/*#tudo1{
    float: left;
}

#tudo2{
    margin: 0 auto 0;
}*/

#titulo1{
    background-color: lightblue;
    width: 350px;
    height: 50px;
    margin-top: 20px;
    padding-left: 10px;
    text-align: center;
    vertical-align: middle;
    display: table;
    border-radius: 200px;
    text-align: center;
}


#descricao1{
    background-color: lightgreen;
    width: 350px;
    margin: 10px auto 10px;
    padding: 10px;
}

#titulo2{
    background-color: lightblue;
    width: 350px;
    height: 50px;
    margin-top: 20px;
    padding-left: 10px;
    text-align: center;
    vertical-align: middle;
    display: table;
    border-radius: 200px;
    text-align: center;
    margin: 0 auto;
}


#descricao2{
    background-color: lightgreen;
    width: 350px;
    margin: 10px auto 10px;
    padding: 10px;
}

/***************************************    FOOTER     *********************************************************************/

footer {
    /*background-color: #961010;*/
    background-color: #B2B1A1; /*#A6E88A*/
    
    /*font-family: 'Hind';*/
    color: #fff;
    position: relative;           /*********************************/
    clear: both;
    height: 100px;
    width: 100%;
    margin-bottom: 0px;   
    margin-top: 20px;


    /*width: 102%;                                   /*********    GAMBIARRA!?!?   ************/
    /*margin:-8px;                                  /*********    GAMBIARRA!?!?   ************/

}
#bottombar{
    text-align: center;
    padding-top: 25px;

}





/***************************************    CONTATO     *********************************************************************/

#contato{
}

#contato form{
    width: 100%;
}

#contato .obrigatorio:after{
    content: " *";
    color: #e73a3d;
}

#contato form input[type="submit"]{
    margin-top: 1px;
    
}

#contato form input,
#contato form textarea{
    width: 100%;
}
