body {
	background: #c5d4d8;
}

a {
	color: #fff;
}

a:hover {
	color: #296271;
	text-decoration: none;
}

#content {
	background: #fff;
	width: 1000px;
	font-family: 'Hind';
	font-size: 16px;
	color: #2b2b2b;
	margin: -10px auto;
	padding: 20px;
}

#header {
	font-size: 16px;
	font-family: 'Hind';
	color: #fff;
	background: #6B949F;
	width: 960px;
	margin: auto;
	padding-right: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 30px;
	text-align: right;
}

#nav {
	width: 960px;
	text-align: center;
}

.navlink ul {
	margin-left: -20px;
	padding-left: 18px;
	padding-right: 18px;
}

.navlink ul li {
	display: inline;
	margin-left: 13px;
	margin-top: 30px;
}

.navlink ul li a {
	color: #2b2b2b;
	font-weight: bold;
	font-size: 17px;
	text-transform: uppercase;
	text-decoration: none;
}

.navlink ul li a:hover {
	color: #0F414F;
}

.navlink ul li a.ativo {
	color: #6b949f;
	text-decoration: underline;
}

.autenticar {
	margin-top: 50px;
	margin-bottom: 50px;
	text-align: center;
	color: #555;
}

.autenticar a {
	color: #6b949f;
}
.autenticar a:hover {
	color: #3a6b78;
}

.titulo {
	width: 100%;
	margin-top: 48px;
	font-family: 'Hind';
	font-size: 16px;
	color: #2b2b2b;
	font-weight: bold;
	display:flex;
	
}

form#indice .titulo {
}

form#indice .titulo-input {
		width: 93%;
		border: 1px solid #dcdcdc;
		padding-top: 2px;
		padding-right: 0px;
		padding-bottom: 2px;
		padding-left: 0px;
		font-weight: 0;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
		margin-left: 10px;
		height: 10px;
}

form#form .titulo-input {
		width: 94%;
		border: 1px solid #dcdcdc;
		padding-top: 2px;
		padding-right: 0px;
		padding-bottom: 2px;
		padding-left: 0px;
		font-weight: 0;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
		margin-left: 46px;
		height: 10px;
}

form#indice {
	margin-top: 5%;
	margin-left: 5%;
}

form#cabecalho {
	margin: 0 5% 0 5%;
}

form#indice div.titulo {
		width: 80%;
		margin: 0px 20px 0px 10px;
		/*margin-left: 20px;*/
}

form#cabecalho div.titulo {
		width: 100%;
		margin: 0px 20px 0px 10px;
		/*margin-left: 20px;*/
}

.numero-input {
	width: 20%;
	border: 1px solid #dcdcdc;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-right: 50px;
	padding-left: 0px;
	height: 10px;
	font-weight: 0;
	text-align: right;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin-left: 10px;
}

textarea {
	resize: none;
	border:2px solid #ccc;
	padding: 0px;
	vertical-align: top;
	width: 81%;
	-ms-overflow-style: none;
	overflow:hidden;
		
}