<nav class="container-fluid navbar navbar-toggleable-md navbar-light bg-faded" style="background-color: #ffd133;">
	<button class="navbar-toggler navbar-toggler-right" style="margin-top:20px;"type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<a href="http://www.preventiva.med.br/php/" class="navbar-brand">
		<img class="logo" src="imgs/LogoPreventiva.png">
	</a>
	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item">
				<a class="nav-link" href="index.php">Home</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="publicacoes.php">Publicações</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="servicos.php">Serviços</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="treinamentos.php">Treinamentos</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="sobre.php">Sobre</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="contato.php">Contato</a>
			</li>
		</ul>
	</div>
</nav>