/***************************************    HEADER     *********************************************************************/

header {
    height: 100px;
    /*background-color: #961010;*/
    background-color: #ffd133;
    /*font-family: 'Hind';*/
    /*position: fixed;*/
    width: 100%;                                   /*********    GAMBIARRA!?!?   ************/
    margin:0px;                                  /*********    GAMBIARRA!?!?   ************/

    /*transition: height 0.3s;*/
}

.logo{
    position: relative;
    height: 100px;
    display: inline-block;
    margin-top: 10px;
    width: 210px;
    margin: 50px 0 0 130px;
    font-size: 25px;
    color: white;
    font-weight: bold;
    /*z-index: 99;*/
}

header menu {
    position: relative;
    float: right;
    /*margin: 25px 45px 0 0;*/
    /*transition: all 0.3s*/
}

header menu ul {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 95%;
    margin: 38px 90px 0 0;
}

header menu ul li a:hover,
header menu ul li a.ativo {
    color: #fff;
    text-decoration: none;
    border-bottom: 2px solid #fff;
    padding: 2px 2px 2px 2px;
}

header menu ul li {
    display: inline-block;
    float: left;
    list-style-type: none;
    margin-left: 4px;
}

header menu ul li a {
    text-decoration: none;
    display: block;
    letter-spacing: 1px;
    width: 130px;
    color: #fff;
    font-weight: 10;
    padding: 4px 4px 4px 0;

    transition: background-color .3s, color .3s;
}

/***************************************    BODY     *********************************************************************/

body{
    margin: 0;
    background-color: #fff;
}

#corpo{
    /*width: 70%;*/
    margin: 0 auto;
}

section{
    width: 70%;
    /*margin: 10px auto 15px;*/
    margin: auto;
    /*font-family: 'Hind';*/
    text-align: left;
    /*font-size: 130%;*/

}
h1{
    /*font-family: "Hind";*/
    display: inline-block;       /*     alterar inline por causa do Treinamentos*/
    text-transform: uppercase;
    background-color: #ffd133;
    font-size: 20px;
    /*background-color: rgb(178, 45, 48);*/
    letter-spacing: 1px;
    color: #f5f5f5;
    padding: 10px 10px 10px 10px;
    margin: 25px 0 20px 0;
}
p{
    text-align: justify;
}

/*a.h3{
    text-decoration: none;
}
*/
/*#tudo1{
    float: left;
}

#tudo2{
    margin: 0 auto 0;
}*/

#titulo1{
    background-color: lightblue;
    width: 350px;
    height: 50px;
    margin-top: 20px;
    padding-left: 10px;
    text-align: center;
    vertical-align: middle;
    display: table;
    border-radius: 200px;
    text-align: center;
}


#descricao1{
    background-color: lightgreen;
    width: 350px;
    margin: 10px auto 10px;
    padding: 10px;
}

#titulo2{
    background-color: lightblue;
    width: 350px;
    height: 50px;
    margin-top: 20px;
    padding-left: 10px;
    text-align: center;
    vertical-align: middle;
    display: table;
    border-radius: 200px;
    text-align: center;
    margin: 0 auto;
}


#descricao2{
    background-color: lightgreen;
    width: 350px;
    margin: 10px auto 10px;
    padding: 10px;
}

/***************************************    FOOTER     *********************************************************************/

footer {
    /*background-color: #961010;*/
    background-color: #B2B1A1; /*#A6E88A*/
    
    /*font-family: 'Hind';*/
    color: #fff;
    position: relative;           /*********************************/
    clear: both;
    height: 100px;
    width: 100%;
    margin-bottom: 0px;   
    margin-top: 20px;


    /*width: 102%;                                   /*********    GAMBIARRA!?!?   ************/
    /*margin:-8px;                                  /*********    GAMBIARRA!?!?   ************/

}
#bottombar{
    text-align: center;
    padding-top: 25px;

}





/***************************************    CONTATO     *********************************************************************/

#contato{
}

#contato form{
    width: 100%;
}

#contato .obrigatorio:after{
    content: " *";
    color: #e73a3d;
}

#contato form input[type="submit"]{
    margin-top: 1px;
    
}

#contato form input,
#contato form textarea{
    width: 100%;
}
